<% content_for(:title) { "Build Status" } %>
<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <h3>CI Status</h3>
      <div data-id="circle-ci-noms-digital-studio-ndelius-new-tech-master" data-view="CircleCi" data-title="Delius New Tech"></div>
    </li>

    <li data-row="1" data-col="2" data-sizex="1" data-sizey="1">
      <h3>DEV Health</h3>
      <div data-id="new-tech-dev" data-view="ServerStatusSquares" data-title="Delius New Tech"></div>
    </li>

    <li data-row="1" data-col="3" data-sizex="1" data-sizey="1">
      <h3>STAGE Health</h3>
      <div data-id="new-tech-stage" data-view="ServerStatusSquares" data-title="Delius New Tech"></div>
    </li>

    <li data-row="1" data-col="4" data-sizex="1" data-sizey="1">
      <h3>PROD Health</h3>
      <div data-id="new-tech-prod" data-view="ServerStatusSquares" data-title="Delius New Tech"></div>
    </li>
  </ul>

</div>
