<% content_for(:title) { "Build Status" } %>
<div class="gridster">
  <ul>
    <!-- Row 1 -->
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="circle-ci-noms-digital-studio-ndelius-new-tech-master" data-view="CircleCi" data-title="Delius New Tech"></div>
    </li>

    <li data-row="1" data-col="2" data-sizex="1" data-sizey="1">
      <div data-id="new-tech-dev" data-view="ServerStatusSquares" data-title="Delius New Tech DEV"></div>
    </li>

    <li data-row="1" data-col="3" data-sizex="1" data-sizey="1">
      <div data-id="new-tech-stage" data-view="ServerStatusSquares" data-title="Delius New Tech PREPROD"></div>
    </li>

    <li data-row="1" data-col="4" data-sizex="1" data-sizey="1">
      <div data-id="new-tech-prod" data-view="ServerStatusSquares" data-title="Delius New Tech PROD"></div>
    </li>

    <!-- Row 2 -->
    <li data-row="2" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="circle-ci-noms-digital-studio-pdf-generator-master" data-view="CircleCi" data-title="PDF Generator"></div>
    </li>

    <li data-row="2" data-col="2" data-sizex="1" data-sizey="1">
      <div data-id="pdf-gen-dev" data-view="ServerStatusSquares" data-title="PDF Generator DEV"></div>
    </li>

    <li data-row="2" data-col="3" data-sizex="1" data-sizey="1">
      <div data-id="pdf-gen-stage" data-view="ServerStatusSquares" data-title="PDF Generator PREPROD"></div>
    </li>

    <li data-row="2" data-col="4" data-sizex="1" data-sizey="1">
      <div data-id="pdf-gen-prod" data-view="ServerStatusSquares" data-title="PDF Generator PROD"></div>
    </li>

  </ul>

</div>
